<section class="login-page">
  <div class="card-heading">
    <h2>Login</h2>
  </div>
  <section class="login-form-section">
    <div class="form-group">
      <label for="email-signup">email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </section>

  <a href="/signup" class="signup-link">Dont have an account, Sign Up</a>
</section>

<script src="./js/login.js"></script>