<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>techblog</title>
    {{!-- STYLES --}}
    <link rel="stylesheet" href="/css/style.css">
</head>
    <body>
        {{!-- NAVIGATION --}}
        <nav class="navbar">
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/account">My Account</a></li>
                <li><a href="/changePassword">Change Password</a></li>
                <li>Logout</li>
            </ul>
        </nav>

        {{!-- BODY --}}
        <section>
            <div>
                {{{body}}}
            </div>
        </section>

        {{!-- FOOTER --}}
        <footer>
            <div>techblog</div>
        </footer>
        
        {{!-- SCRIPT --}}
        {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
    </body>
</html>