<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>techblog</title>
    {{!-- STYLES --}}
    <link rel="stylesheet" href="/css/style.css">
</head>
    <body>
        <div>techblog</div>
        {{!-- NAVIGATION --}}
        {{#if logged_in}}
        <nav class="navbar">
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/createAccount">My Account</a></li>
                <li><a href="/changePassword">Change Password</a></li>
                <li>Logout</li>
            </ul>
        </nav>
        {{else}}
            <a class="btnLogin" href="/login">Login</a>
        {{/if}}

        {{!-- BODY --}}
        <section class="body-container">
            <div class="body-data">
                {{{body}}}
            </div>
        </section>

        {{!-- FOOTER --}}
        <footer>
            
        </footer>

        {{!-- SCRIPT --}}
        {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
    </body>
</html>