<section class="signup">
    <div class="signup-header">
        <h1>Sign Up</h1>
    </div>
    <section "signup-form-section">
        <form class="signup-form">
            <div>
                <label for="signup-name">Username:</label>
                <input type="text" class="signup-entry-field" id="signup-name">
            </div>
            <div>
                <label for="signup-passwork">Password:</label>
                <input type="text" class="signup-entry-field" id="signup-password">
            </div>
            <div>
                <button type="submit" class="signup-button">Sign Up</button>
            </div>
        </form>
    </section>

    <a href="/login" class="login-link">Already have an account, Login</a>
</section>

<script src="./js/signup"></script>