<form action="" id="changePasswordForm">
    <section class="full-container">
        <section class="profile-container">
            <div class="profile-header">
                Profile
            </div>
            <div class="current-username-section">
                <div class="current-username-title">User Name:</div>
                <div class="labelUserName">{{user.name}}</div>
            </div>
            <div class="current-email-section">
                <div class="current-email-title">Email:</div>
                <div class="labelUserEmail">{{user.email}}</div>
            </div>
        </section>

        <div class="vertical-line"></div>

        <section class="change-password-container">
            <div class="change-password-header">
                Change Password
            </div>
            <div class="input-full">
                <div class="input-section">
                    <span for="textPresentPassword" class="input-title">Present Password</span>
                    <input type="password" id="textPresentPassword" class="input-field" />
                </div>
                <div class="input-section">
                    <span for="textNewPassword" class="input-title">New Password</span>
                    <input type="password" id="textNewPassword" class="input-field" />
                </div>
                <div class="input-section">
                    <span for="textConfirmPassword" class="input-title">Confirm Password</span>
                    <input type="password" id="textConfirmPassword" class="input-field" />
                </div>
            </div>
            <div>
                <button class="btnSubmit" type="submit">Submit</button>
            </div>
        </section>
    </section>


</form>


<script src="/js/changePassword.js"></script>