<form action="" id="changePasswordForm" class="profile-container">
    <div class="card-full">
        <div class="changePassword-header">
            Change Password
        </div>
        <div class="card-scetion">
            User Name:
            <span class="labelUserName">{{user.name}}</span>
        </div>
        <div>
            Email:
            <span class="labelUserEmail">{{user.email}}</span>
        </div>
        <div class="card-scetion">
            <span for="textPresentPassword">Present Password</span>
            <input type="password" id="textPresentPassword" />
        </div>
        <div class="card-scetion">
            <span for="textNewPassword">New Password</span>
            <input type="password" id="textNewPassword" />
        </div>
        <div class="card-scetion">
            <span for="textConfirmPassword">New Password</span>
            <input type="password" id="textConfirmPassword" />
        </div>
        <div>
            <button class="btnSubmit" type="submit">Submit</button>
        </div>
    </div>
</form>

<script src="/js/changePassword.js"></script>