<section>
    <form id="createPostForm">
        <div>
            Create Post
        </div>
        <div>
            <label>Title</label>
            <input type="text" id="textTitle">
        </div>
        <div>
            <label for="textContent">Content</label>
            <textarea name="" id="textContent" rows="10"></textarea>
        </div>
        <div>
            <button class="btnSubmit">Submit</button>
        </div>
    </form>
</section>

<script src="/js/createPost.js"></script>