<form id="createPostForm">
    <div class="create-full-container">
        <div class="create-post-header">
            Create Post
        </div>
        <div class="title-container">
            <div class="post-title">
                Title
            </div>
            <div class="post-title-input-con">
                <input type="text" id="textTitle" class="post-title-input">
            </div>
        </div>
        <div class="content-container">
            <div for="textContent" class="content-title">
                Content
            </div>
            <div class="content-input">
                <textarea name="" id="textContent" class="content-textarea" rows="10"></textarea>
            </div>
        </div>
        <div>
            <button class="btnSubmit" type="submit">Submit</button>
        </div>
    </div>
</form>

<script src="/js/createPost.js"></script>