<form id="createAccountForm">
    <div class="form-title">
        Sign Up
    </div>
    <div class="input-section">
        <label for="textUserName">User Name</label>
        <input type="text" id="textUserName" />
    </div>
    <div class="input-section">
        <label for="textEmail">Email</label>
        <input type="text" id="textEmail" />
    </div>
    <div class="input-section">
        <label for="textPassword">Password</label>
        <input type="text" id="textPassword" />
    </div>
    <div class="input-section">
        <button class="btn" type="submit">Submit</button>
    </div>
    <div>
        <a href="/login">Login</a>
    </div>
</form>

<script src="/js/createAccount.js"></script>