<form id="loginForm">
   <div class="form-title">
       Login
   </div>
    <div class="input-section">
        <label for="textEmail">Email</label>
        <input type="text" id="textEmail"/>
    </div>
    <div class="input-section">
        <label for="textPassword">Password</label>
        <input type="text" id="textPassword"/>
    </div>
    <div class="input-section">
        <button class="btn" type="submit">Submit</button>
    </div>
</form>
<div class="sign-up-section">
    <a href="/createAccount">Sign Up</a>
</div>

<script src="/js/login.js"></script>