.full-container {
    background-color: white;
    width: 53rem;
    padding: 5rem;
    border-radius: .2rem;
    box-shadow: 20px 20px 50px rgb(185, 125, 125);
    margin-bottom: 3rem;
    display: flex;

    div.vertical-line {
        width: .1rem;
        background-color: rgb(220, 220, 220);
        height: 100%;
        text-align: center;
    }

    .profile-container {
        width: 35%;
        background-color: rgb(255, 255, 255);
        padding: 3rem;

        .profile-header {
            font-family: $titleFont;
            font-size: $titleFontSize;
            color: $titleColor;
            font-weight: 500;
            margin-bottom: 2rem;
        }

        .current-username-section {
            margin-bottom: .5rem;

            .current-username-title {
                font-family: $titleFont;
                font-size: .75rem;
                color: rgb(168, 168, 168);
                font-weight: 500;
                margin-bottom: 1rem;
            }

            .labelUserName {
                font-family: $titleFont;
                font-size: 1.5rem;
                color: $titleColor;
                font-weight: 400;
                margin-bottom: .5rem;
            }
        }

        .current-email-section {
            .current-email-title {
                font-family: $titleFont;
                font-size: .75rem;
                color: rgb(168, 168, 168);
                font-weight: 500;
                margin-bottom: 1rem;
            }

            .labelUserEmail {
                font-family: $titleFont;
                font-size: 1.5rem;
                color: $titleColor;
                font-weight: 400;
                margin-bottom: .5rem;
            }
        }
    }

    .change-password-container {
        width: 65%;
        background-color: rgb(255, 255, 255);
        padding: 3rem;
        display: flex;
        flex-direction: column;

        .change-password-header {
            font-family: $titleFont;
            font-size: $titleFontSize;
            color: $titleColor;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        .input-full {
            margin-bottom: 2rem;
            display: block;


            .input-title {
                font-family: $titleFont;
                font-size: .75rem;
                color: rgb(168, 168, 168);
                font-weight: 500;
                margin-bottom: .25rem;
            }

            .input-field {
                width: 100%;
                height: 2rem;
                background-color: rgb(192, 192, 192);
                border: none;
            }
        }
    }

    .btnSubmit {
        font-family: $paragraphFont;
        font-size: .85rem;
        color: white;
        background-color: rgb(0, 182, 18);
        box-shadow: 10px 10px 20px rgb(209, 209, 209);
        text-decoration: none;
        padding: .75rem;
        border: none;
        width: 101%;
        display: flex;
        justify-content: center;
    }

    .btnSubmit:hover {
        transition: .5s;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 182, 18);
        border-color: rgb(0, 182, 18);
        border: solid;
    }
}