.body-container {
  border-radius: 0.2rem;
  margin-right: 0;
  display: flex;
  justify-content: center;
}

#loginForm {
  background-color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
  box-shadow: 20px 20px 50px rgb(185, 125, 125);
}
#loginForm .login-container {
  display: block;
}
#loginForm .login-container .form-title {
  font-size: 1.5rem;
  font-family: "Work Sans", sans-serif;
  color: rgb(0, 182, 18);
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
#loginForm .login-container .input-section {
  display: block;
  justify-content: center;
  margin-bottom: 2rem;
}
#loginForm .login-container .input-section #label-input {
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  color: rgb(0, 182, 18);
  font-weight: 600;
  height: 100%;
}
#loginForm .login-container .input-section .inputBox {
  display: block;
  width: 237.22px;
  margin: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;
  border: none;
  background-color: rgb(231, 231, 231);
  height: 2.5rem;
}
#loginForm .login-container .btnSubmit {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}
#loginForm .login-container .btnSubmit .btn {
  border: none;
  padding: 1rem;
  background-color: rgb(0, 182, 18);
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: center;
  color: white;
  cursor: pointer;
  width: 100%;
}
#loginForm .login-container .btnSubmit .btn:hover {
  transition: 0.5s;
  color: rgb(0, 182, 18);
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: rgb(0, 182, 18);
  font-weight: 400;
}
#loginForm .login-container .sign-up-section {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  color: rgb(0, 182, 18);
  width: 100%;
  font-size: 0.75rem;
}
#loginForm .login-container .sign-up-section .sign-up-link {
  margin-left: 0.2rem;
  text-decoration: none;
  color: rgb(225, 93, 93);
}

.dashboard-container {
  background-color: white;
  width: 53rem;
  padding: 5rem 5rem 2rem 5rem;
  border-radius: 0.2rem;
  box-shadow: 20px 20px 50px rgb(185, 125, 125);
  margin-bottom: 3rem;
}
.dashboard-container .dashboard-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.dashboard-container .dashboard-header .post-header {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  color: rgb(0, 182, 18);
  font-weight: 500;
  display: flex;
}
.dashboard-container .dashboard-header .btnCreatePost {
  font-family: "Work Sans", sans-serif;
  font-size: 0.85rem;
  padding: 0.75rem;
  color: rgb(0, 182, 18);
  text-decoration: none;
  font-weight: 700;
  justify-content: center;
}
.dashboard-container .dashboard-header .btnCreatePost:hover {
  transition: 0.5s;
  color: rgb(95, 172, 103);
}
.dashboard-container .table-id-con {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  color: rgb(0, 182, 18);
  font-weight: 200;
  margin-bottom: 1rem;
}
.dashboard-container .table-title-con {
  display: flex;
  background-color: rgb(0, 182, 18);
  box-shadow: 20px 10px 20px rgb(209, 209, 209);
  width: inherit;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}
.dashboard-container .table-title-con .table-id,
.dashboard-container .table-title-con .table-title {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  margin-left: 0.75rem;
}
.dashboard-container .table-content-con {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
}
.dashboard-container .table-content-con .table-content-data {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  color: rgb(0, 182, 18);
  font-weight: 300;
  width: 90%;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.dashboard-container hr {
  background-color: rgb(0, 182, 18);
}
.dashboard-container .table-owner-con {
  display: flex;
  align-items: center;
}
.dashboard-container .table-owner-con .table-title {
  font-family: "Work Sans", sans-serif;
  font-size: 0.75rem;
  color: rgb(185, 125, 125);
  font-weight: 600;
  margin: 0 0.75rem 0 0.75rem;
}
.dashboard-container .table-owner-con .table-data {
  font-family: "Work Sans", sans-serif;
  font-size: 0.75rem;
  color: rgb(185, 125, 125);
  font-weight: 300;
}

.table-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 3rem 0;
}
.table-buttons .manipulate-post-section {
  display: flex;
}
.table-buttons .manipulate-post-section .btnEdit {
  font-family: "Work Sans", sans-serif;
  font-size: 0.85rem;
  color: white;
  background-color: rgb(0, 182, 18);
  box-shadow: 10px 10px 20px rgb(209, 209, 209);
  text-decoration: none;
  padding: 0.75rem;
  margin-right: 1rem;
}
.table-buttons .manipulate-post-section .btnEdit:hover {
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 182, 18);
  border-color: rgb(0, 182, 18);
  border: solid;
}
.table-buttons .manipulate-post-section .btnDelete {
  font-family: "Work Sans", sans-serif;
  font-size: 0.85rem;
  color: white;
  background-color: rgb(0, 182, 18);
  box-shadow: 10px 10px 20px rgb(209, 209, 209);
  text-decoration: none;
  padding: 0.75rem;
  margin-right: 1rem;
}
.table-buttons .manipulate-post-section .btnDelete:hover {
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 56, 56);
  border-color: rgb(255, 56, 56);
  border: solid;
}

.full-container {
  background-color: white;
  width: 53rem;
  padding: 5rem;
  border-radius: 0.2rem;
  box-shadow: 20px 20px 50px rgb(185, 125, 125);
  margin-bottom: 3rem;
  display: flex;
}
.full-container div.vertical-line {
  width: 0.1rem;
  background-color: rgb(220, 220, 220);
  height: 100%;
  text-align: center;
}
.full-container .profile-container {
  width: 35%;
  background-color: rgb(255, 255, 255);
  padding: 3rem;
}
.full-container .profile-container .profile-header {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  color: rgb(0, 182, 18);
  font-weight: 500;
  margin-bottom: 2rem;
}
.full-container .profile-container .current-username-section {
  margin-bottom: 0.5rem;
}
.full-container .profile-container .current-username-section .current-username-title {
  font-family: "Work Sans", sans-serif;
  font-size: 0.75rem;
  color: rgb(168, 168, 168);
  font-weight: 500;
  margin-bottom: 1rem;
}
.full-container .profile-container .current-username-section .labelUserName {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  color: rgb(0, 182, 18);
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.full-container .profile-container .current-email-section .current-email-title {
  font-family: "Work Sans", sans-serif;
  font-size: 0.75rem;
  color: rgb(168, 168, 168);
  font-weight: 500;
  margin-bottom: 1rem;
}
.full-container .profile-container .current-email-section .labelUserEmail {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  color: rgb(0, 182, 18);
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.full-container .change-password-container {
  width: 65%;
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.full-container .change-password-container .change-password-header {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  color: rgb(0, 182, 18);
  font-weight: 500;
  margin-bottom: 1rem;
}
.full-container .change-password-container .input-full {
  margin-bottom: 2rem;
  display: block;
}
.full-container .change-password-container .input-full .input-title {
  font-family: "Work Sans", sans-serif;
  font-size: 0.75rem;
  color: rgb(168, 168, 168);
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.full-container .change-password-container .input-full .input-field {
  width: 100%;
  height: 2rem;
  background-color: rgb(192, 192, 192);
  border: none;
}
.full-container .btnSubmit {
  font-family: "Work Sans", sans-serif;
  font-size: 0.85rem;
  color: white;
  background-color: rgb(0, 182, 18);
  box-shadow: 10px 10px 20px rgb(209, 209, 209);
  text-decoration: none;
  padding: 0.75rem;
  border: none;
  width: 101%;
  display: flex;
  justify-content: center;
}
.full-container .btnSubmit:hover {
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 182, 18);
  border-color: rgb(0, 182, 18);
  border: solid;
}

.edit-post-container {
  background-color: white;
  width: 45rem;
  padding: 5rem;
  border-radius: 0.2rem;
  box-shadow: 20px 20px 50px rgb(185, 125, 125);
  margin-bottom: 3rem;
}
.edit-post-container .edit-post-id-con .post-id-title {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  color: rgb(0, 182, 18);
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}
.edit-post-container .edit-post-title {
  width: 100%;
  display: block;
  flex-direction: column;
  margin-bottom: 1rem;
}
.edit-post-container .edit-post-title .title-desc {
  font-family: "Work Sans", sans-serif;
  font-size: 0.75rem;
  color: rgb(168, 168, 168);
  font-weight: 500;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}
.edit-post-container .edit-post-title .title-post {
  width: calc(100% - 1rem);
  height: 2rem;
  background-color: rgb(192, 192, 192);
  border: none;
  padding-left: 1rem;
  color: white;
}
.edit-post-container .edit-post-content {
  width: 100%;
  display: block;
  flex-direction: column;
  margin-bottom: 1rem;
}
.edit-post-container .edit-post-content .post-content-title {
  font-family: "Work Sans", sans-serif;
  font-size: 0.75rem;
  color: rgb(168, 168, 168);
  font-weight: 500;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}
.edit-post-container .edit-post-content .post-content {
  font-family: "Work Sans", sans-serif;
  width: calc(100% - 2rem);
  height: 10rem;
  background-color: rgb(192, 192, 192);
  border: none;
  padding: 1rem;
  color: white;
}
.edit-post-container .edit-submit-btn {
  font-family: "Work Sans", sans-serif;
  font-size: 0.85rem;
  color: white;
  background-color: rgb(0, 182, 18);
  box-shadow: 10px 10px 20px rgb(209, 209, 209);
  text-decoration: none;
  padding: 0.75rem;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
.edit-post-container .edit-submit-btn:hover {
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 182, 18);
  border-color: rgb(0, 182, 18);
  border: solid;
}

.create-full-container {
  background-color: white;
  width: 53rem;
  padding: 5rem;
  border-radius: 0.2rem;
  box-shadow: 20px 20px 50px rgb(185, 125, 125);
}
.create-full-container .create-post-header {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  color: rgb(0, 182, 18);
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}
.create-full-container .title-container {
  margin-bottom: 1rem;
}
.create-full-container .title-container .post-title {
  font-family: "Work Sans", sans-serif;
  font-size: 0.75rem;
  color: rgb(168, 168, 168);
  font-weight: 500;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}
.create-full-container .title-container .post-title-input-con .post-title-input {
  width: calc(100% - 1rem);
  height: 2rem;
  background-color: rgb(192, 192, 192);
  border: none;
  padding-left: 1rem;
  color: white;
}
.create-full-container .content-container .content-title {
  font-family: "Work Sans", sans-serif;
  font-size: 0.75rem;
  color: rgb(168, 168, 168);
  font-weight: 500;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}
.create-full-container .content-container .content-textarea {
  width: calc(100% - 2rem);
  height: 10rem;
  background-color: rgb(192, 192, 192);
  border: none;
  padding: 1rem;
  color: white;
  margin-bottom: 1rem;
  font-family: "Work Sans", sans-serif;
}
.create-full-container .btnSubmit {
  font-family: "Work Sans", sans-serif;
  font-size: 0.85rem;
  color: white;
  background-color: rgb(0, 182, 18);
  box-shadow: 10px 10px 20px rgb(209, 209, 209);
  text-decoration: none;
  padding: 0.75rem;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
.create-full-container .btnSubmit:hover {
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 182, 18);
  border-color: rgb(0, 182, 18);
  border: solid;
}

.body {
  background: linear-gradient(217deg, rgba(212, 66, 66, 0.769), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(110, 42, 42, 0.595), rgba(255, 0, 0, 0) 70.71%), linear-gradient(336deg, rgba(238, 194, 194, 0.8), rgba(255, 0, 0, 0) 70.71%);
  background-attachment: fixed;
  width: 100%;
}

.body-title {
  font-family: "Silkscreen", cursive;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color: rgb(240, 240, 240);
  margin: 3rem 0 3rem 0;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.navbar ul {
  display: flex;
  padding-left: 0;
}
.navbar li {
  list-style: none;
}
.navbar a {
  text-decoration: none;
  margin: 2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: rgb(243, 243, 243);
}
.navbar a:hover {
  transition: 0.5s;
  color: #c24b4b;
  font-weight: 600;
}

.body-data {
  display: flex;
  justify-content: center !important;
}/*# sourceMappingURL=style.css.map */